<div class="w-[213px] border border-[#e0e0e0] bg-[#FAF7FD] rounded-xl py-6 px-4">
    <div class="flex justify-between items-center"> <img src="jumia.png" class="w-10 h-10" alt="jumia" />
        <div class="flex gap-3 items-center">
            <img src="send.png" class="w-5 h-5" alt="Send" />
            <img src="bookmark.png" class="w-5 h-5" alt="Send" />
        </div>

    </div>
    <div class="flex justify-between pt-3 pb-5">
        <p class="font-bold">Jumia</p>
        <p class="font-bold">-20%</p>
    </div>

    <p class="pb-8 font-medium text-xs text-[#616161]">Get 20% off your entire purchase of N50,000 or more</p>

    <p-button class="w-full rounded-xl border font-bold text-primary border-gray-300 text px-5 py-3">
        See Offer
    </p-button>
</div>