<nav class="pl-4 xl:pl-32 pr-4 xl:pr-28 py-4 md:py-6 flex justify-between items-center">

  <div class="flex items-center gap-4 md:gap-9">

    <a href="/">
      <img src="logo.png" alt="twenties tribe Logo" class="w-24 md:w-auto" />
    </a>


    <ul class="hidden lg:flex items-center lg:space-x-3 xl:space-x-6">
      <li *ngFor="let link of navLinks" [ngClass]="{ 'border-r-gray-300 font-medium border-r pr-6': link.hasBorder }"
        class="text-dark">
        <a [routerLink]="link.path" routerLinkActive="active" class="flex gap-2">
          <img *ngIf="link.icon" [src]="link.icon" class="w-6 h-6" alt="{{ link.label }}" />
          <p>{{ link.label }}</p>
        </a>
      </li>
    </ul>
  </div>

  <div class="flex items-center gap-4">

    <div class="hidden lg:flex items-center gap-4">
      <p-button label="Login"
        class="rounded-xl border font-bold text-primary border-gray-300 text px-4 md:px-5 py-2 md:py-3" />
      <p-button label="Join The Tribe"
        class="rounded-xl border font-semibold text-white !bg-primary border-gray-300 text px-4 md:px-5 py-2 md:py-3" />
    </div>


    <button class="lg:hidden" (click)="toggleMenu()">
      <i *ngIf="!isMenuOpen" class="pi pi-bars"></i>
      <i *ngIf="isMenuOpen" class="pi pi-times"></i>
    </button>
  </div>

  <div *ngIf="isMenuOpen" class="md:hidden absolute top-16 left-0 w-full bg-white shadow-lg z-50">
    <ul class="flex flex-col space-y-4 p-4">
      <li *ngFor="let link of navLinks" [ngClass]="{ 'border-b-gray-300 font-medium border-b pb-4': link.hasBorder }"
        class="text-dark">
        <a [routerLink]="link.path" routerLinkActive="active" class="flex gap-2">
          <img *ngIf="link.icon" [src]="link.icon" class="w-6 h-6" alt="{{ link.label }}" />
          <p>{{ link.label }}</p>
        </a>
      </li>
    </ul>
    <div class="p-4 border-t border-gray-300 flex gap-10">
      <p-button label="Login"
        class="w-full justify-center flex rounded-xl border font-bold text-primary border-gray-300 text px-4 py-2 mb-2" />
      <p-button label="Join The Tribe"
        class="w-full justify-center flex rounded-xl border font-semibold text-white !bg-primary border-gray-300 text px-4 py-2" />
    </div>
  </div>
</nav>