<div class="bg-gray-100 py-20 px-32 flex">
    <div class="w-60 bg-white rounded-xl ">

        <app-radio-group [title]="'Category'" [items]="categories"
            (selected)="onOptionSelect($event)"></app-radio-group>

        <p-divider class="text-[#E0E0E0] my-0 py-0" />

        <div class="p-4">
            <p class="text-sm font-bold text-[#757575] mb-3">Price</p>
            <p-slider [(ngModel)]="rangeValues" [range]="true" styleClass="full" [min]="0" [max]="5000" [step]="100" />
            <div class="flex gap-4 mt-5 w-full">
                <p-inputNumber [(ngModel)]="rangeValues[0]" [showButtons]="false" styleClass="w-full"
                    inputStyleClass="w-full" placeholder="Min" [min]="0" [max]="rangeValues[1]" />
                <p-inputNumber [(ngModel)]="rangeValues[1]" [showButtons]="false" styleClass="w-full"
                    inputStyleClass="w-full" placeholder="Max" [min]="rangeValues[0]" />
            </div>
        </div>

        <p-divider class="text-[#E0E0E0] my-0 py-0" />

        <app-radio-group [title]="'Percentage'" [items]="percentages"
            (selected)="onOptionSelect($event)"></app-radio-group>

        <p-divider class="text-[#E0E0E0] my-0 py-0" />

        <app-radio-group [title]="'Location'" [items]="locations" (selected)="onOptionSelect($event)"></app-radio-group>
    </div>

    <div class="px-6">
        <div>
            <div class="relative w-[600px]">
                <input pInputText type="text" placeholder="Search for store items"
                    class="w-full h-[48px] rounded-[48px] border border-[#616161] px-5 pr-12 focus:outline-none" />
                <p-button icon="pi pi-search" severity="secondary" variant="text"
                    class="absolute right-4 top-1/2 -translate-y-1/2" />
            </div>
        </div>
    </div>
</div>