<nav class="pl-32 pr-28 py-6 flex justify-between items-center">
  <div class="flex gap-9">
    <a href="/">
      <img src="logo.png" alt="twenties tribe Logo" />
    </a>

    <ul [ngClass]="{ hidden: !menuOpen, flex: menuOpen }" class="md:flex items-center space-x-6">
      <li
        *ngFor="let link of navLinks"
        [ngClass]="{ 'border-r-gray-300 font-medium border-r pr-6': link.hasBorder }"
        class="text-dark"
      >
        <a [routerLink]="link.path" routerLinkActive="active" class="flex gap-2">
          <img *ngIf="link.icon" [src]="link.icon" class="w-6 h-6" alt="{{ link.label }}" />
          <p>{{ link.label }}</p>
        </a>
      </li>
    </ul>
  </div>

  <div class="flex items-center gap-4">
    <div class="border-r border-r-gray-300 pr-6">
      <mat-icon>search</mat-icon>
    </div>
    <p-button label="Login" class="rounded-xl border font-bold text-primary border-gray-300 text px-5 py-3" />
    <p-button
      label="Join The Tribe"
      class="rounded-xl border font-semibold text-white bg-primary border-gray-300 text px-5 py-3"
    />
  </div>

  <button class="md:hidden block" (click)="toggleMenu()">☰</button>
</nav>
